
/*Entire Webpage Backdrop Styling*/

* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
}


body {
    background-image: url(../homepage/images/B38D9581-D993-4EC1-A6E1-195FD6294B7D.jpeg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}



/* Header Content */ 

header nav {
    /* border: 4px solid rgb(255, 0, 234);
    width: 100%;
    height: 95px; */
    justify-content: center;
}

header nav ul li{

    list-style-type: none;
    font-family: monospace;
    font-size: 15px;
}

.hero {
    /* border: 4px solid rgb(65, 234, 225);
    width: 100%;
    height: 100px; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: monospace;
    color: black;
}

/*Jumbotron Block Styling*/
.hero h1{
    justify-content: center;
    margin-top: 35px;
    font-size: 70px;
    color: #3f4716;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:0px 0px 0 rgb(55,63,14),
                0px -1px 0 rgb(46,54,5),
                0px -2px 0 rgb(38,46,0),
                0px -3px 0 rgb(30,38,0),
                0px -4px 0 rgb(21,29,0),
                0px -5px 0 rgb(13,21,0),
                0px -6px  0 rgb(5,13,0),
                0px -7px 6px rgba(0,0,0,0.84),
                0px -7px 1px rgba(0,0,0,0.5),
                0px 0px 6px rgba(0,0,0,.2);
}


/* Paragraph Settings */
p{
    font-family: 'American Typewriter';
    font-size: 13px;
    text-align: center;
}


/* .imgBox {
  border: 4px solid rgb(199, 234, 84); 
  height: 80; 
  width: 100%;
} */



#bookPic {
    width: 350px;
    height: 250px;
}


.blurb{
    /* border: 4px solid rgb(239, 74, 159);
    height: 265px;
    width: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 11px;
    text-align: center;
}




/* CSS */
.button {
  appearance: none;
  background-color: #ffffff25;
  border-radius: 40em;
  border-style: none;
  box-shadow: #a4afbe25 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #dfd6bb24;
  box-shadow: #807d7bd3 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button {
    /* font-size: 1.5rem; */
    padding: .75rem 2rem;
  }
}



/* Button */
/* .button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 18px;
  background: transparent;
  border: none;
  position: relative;
  color: #000000;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d0b;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
} */