* {

}

h1 {
    font-size: 2rem;
    font-weight:800;
}

.books {
    grid-auto-rows: minmax(300,auto);
}

.book {
}

.book-title {
    text-align: center;
    min-height: 4rem;
    font-weight: 600;
}